﻿@page "/"

<div class="container">
	<Card>
		<TabPanel>
			<TabPage Title="Overview">
				<Box Type="BoxType.Tip">Available</Box>
			</TabPage>
			<TabPage Title="Specifications">
				Specifications
			</TabPage>
		</TabPanel>
	</Card>
	<Card Title="Sample Card">
		<span>This is a card with header</span>
	</Card>

	<Box Type="BoxType.Information" Title="Sample Information Box">This is a Sample Information Box.</Box>
	<Box Type="BoxType.Warning">This is a Sample Warning Box without title.</Box>
	<Box Type="BoxType.Tip" Title="Sample Tip Box">This is a Sample Tip Box.</Box>

	<TabPanel OnActivePageChanged="(page) => Console.WriteLine(page.Title)">
		<TabPage Title="Panel I">
			<div style="display: grid; grid-auto-flow: row">
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
				<span>First Tab Content</span>
			</div>
		</TabPage>
		<TabPage Title="Panel II">
			<span>Second Tab Content</span>
		</TabPage>
		<TabPage Title="Panel III">
			<span>Third Tab Content</span>
		</TabPage>
		<TabPage Title="Panel IV">
			<span>Third Tab Content</span>
		</TabPage>
		<TabPage Title="Panel V">
			<span>Third Tab Content</span>
		</TabPage>
		<TabPage Title="Panel VI">
			<span>Third Tab Content</span>
		</TabPage>
	</TabPanel>
</div>

@code{
}