﻿div.container {
    padding: 1.4em;

    display: grid;
    grid-template-rows: max-content max-content max-content max-content max-content auto;
    grid-row-gap: .8em;

    height: 100%;

    box-sizing: border-box;
}