﻿@inherits TestContext

@code {
	[Theory(DisplayName = "[UNIT][BOX-001] - Apply box style")]
	[InlineData(BoxType.Information)]
	[InlineData(BoxType.Warning)]
	[InlineData(BoxType.Tip)]
	public void Box_ApplyBoxStyle(BoxType type)
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Box Type="@type" Title="@(faker.Random.String())">@(faker.Random.String())</Box>);

		// Assert
		Assert.Contains($"box--{type.ToString().ToLower()}", cut.Find(Selectors.ByTestId("cntContainer")).ClassList);
	}

	[Theory(DisplayName = "[UNIT][BOX-002] - Apply icon style")]
	[InlineData(BoxType.Information)]
	[InlineData(BoxType.Warning)]
	[InlineData(BoxType.Tip)]
	public void Box_ApplyIconStyle(BoxType type)
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Box Type="@type" Title="@(faker.Random.String())">@(faker.Random.String())</Box>);

		// Assert
		Assert.Contains($"box__icon--{type.ToString().ToLower()}", cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
	}

	[Theory(DisplayName = "[UNIT][BOX-003] - Apply title style")]
	[InlineData(BoxType.Information)]
	[InlineData(BoxType.Warning)]
	[InlineData(BoxType.Tip)]
	public void Box_ApplyTitleStyle(BoxType type)
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Box Type="@type" Title="@(faker.Random.String())">@(faker.Random.String())</Box>);

		// Assert
		Assert.Contains($"box__title--{type.ToString().ToLower()}", cut.Find(Selectors.ByTestId("txtTitle")).ClassList);
	}

	[Fact(DisplayName = "[UNIT][BOX-004] - Show Content")]
	public void Box_ShowContent()
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Box Type="@(faker.PickRandom<BoxType>())" Title="@(faker.Random.String())"><div data-testId="content"></div></Box>);

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("content")));
	}

	[Theory(DisplayName = "[UNIT][BOX-005] - Set icon")]
	[InlineData(BoxType.Information, "fa-circle-info")]
	[InlineData(BoxType.Warning, "fa-circle-exclamation")]
	[InlineData(BoxType.Tip, "fa-circle-check")]
	public void Box_SetIcon(BoxType type, string expected)
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Box Type="@type" Title="@(faker.Random.String())">@(faker.Random.String())</Box>);

		// Assert
		Assert.Contains(expected, cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
	}

	[Fact(DisplayName = "[UNIT][BOX-006] - Hide Header")]
	public void Box_HideHeader()
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<Box Type="@(faker.PickRandom<BoxType>())">@(faker.Random.String())</Box>);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("pnlHeader")));
	}
}
