﻿@inherits TestContext

@code {
	[Fact(DisplayName = "[UNIT][CRD-001] - Display Header")]
	public void Card_DisplayHeader()
	{
		// Arrange
		var header = new Faker().Random.String();

		// Act
		var cut = Render(@<Card Title="@header"></Card>);

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("cntHeader")));
	}

	[Fact(DisplayName = "[UNIT][CRD-002] - Hide Header")]
	public void Card_HideHeader()
	{
		// Act
		var cut = Render(@<Card></Card>);

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("cntHeader")));
	}

	[Fact(DisplayName = "[UNIT][CRD-003] - Expand Card")]
	public async Task Card_ExpandCard()
	{
		// Arrange
		var cut = Render(@<Card Title="Title" Collapsed="true"><span data-testId="content"></span>></Card>);

		// Act
		await cut.Find(Selectors.ByTestId("icoIcon")).ClickAsync(new MouseEventArgs());

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("content")));
	}

	[Fact(DisplayName = "[UNIT][CRD-004] - Collapse Card")]
	public async Task Card_CollapseCard()
	{
		// Arrange
		var cut = Render(@<Card Title="@(new Faker().Random.String())" Collapsed="false"><span data-testId="content"></span>></Card>);

		// Act
		await cut.Find(Selectors.ByTestId("icoIcon")).ClickAsync(new MouseEventArgs());

		// Assert
		Assert.Empty(cut.FindAll(Selectors.ByTestId("content")));
	}

	[Fact(DisplayName = "[UNIT][CRD-005] - Expand Card if title is not defined")]
	public void Card_ExpandCardIfTitleIsNotDefined()
	{
		// Act
		var cut = Render(@<Card Collapsed="true"><span data-testId="content"></span>></Card>);

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("content")));
	}

	[Fact(DisplayName = "[UNIT][CRD-006] - Set expand icon")]
	public void Card_SetExpandIcon()
	{
		// Act
		var cut = Render(@<Card Title="@(new Faker().Random.String())" Collapsed="true"><span></span>></Card>);

		// Assert
		Assert.Contains("fa-chevron-down", cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
	}

	[Fact(DisplayName = "[UNIT][CRD-007] - Set collapse icon")]
	public void Card_SetCollapseIcon()
	{
		// Act
		var cut = Render(@<Card Title="@(new Faker().Random.String())" Collapsed="false"><span></span>></Card>);

		// Assert
		Assert.Contains("fa-chevron-up", cut.Find(Selectors.ByTestId("icoIcon")).ClassList);
	}

	[Fact(DisplayName = "[UNIT][CRD-008] - Raise OnCollapsed event")]
	public async Task Card_RaiseOnCollapsedEvent()
	{
		// Arrange
		var raised = false;
		var cut = Render(@<Card Title="@(new Faker().Random.String())" Collapsed="false" OnCollapsed="() => raised = true"><span></span>></Card>);

		// Act
		await cut.Find(Selectors.ByTestId("icoIcon")).ClickAsync(new MouseEventArgs());

		// Assert
		Assert.True(raised);
	}

	[Fact(DisplayName = "[UNIT][CRD-009] - Raise OnExpanded event")]
	public async Task Card_RaiseOnExpandedEvent()
	{
		// Arrange
		var raised = false;
		var cut = Render(@<Card Title="@(new Faker().Random.String())" Collapsed="true" OnExpanded="() => raised = true"><span></span>></Card>);

		// Act
		await cut.Find(Selectors.ByTestId("icoIcon")).ClickAsync(new MouseEventArgs());

		// Assert
		Assert.True(raised);
	}
}
