﻿@inherits TestContext

@code {
	[Fact(DisplayName = "[UNIT][TAB-001] - Show Pages")]
	public void TabPanel_ShowPages()
	{
		// Arrange
		var title = new Faker().Random.String();

		// Act
		var cut = Render(@<TabPanel>
							<TabPage Title="@title"></TabPage>
							<TabPage Title="@title"></TabPage>
						</TabPanel>);

		// Assert
		Assert.Collection(cut.FindComponents<TabPage>(), page => Assert.Equal(title, page.Instance.Title), 
														 page => Assert.Equal(title, page.Instance.Title));
	}

	[Fact(DisplayName = "[UNIT][TAB-002] - Show Active Page")]
	public void TabPanel_ShowActivePage()
	{
		// Arrange
		var faker = new Faker();

		// Act
		var cut = Render(@<TabPanel>
							<TabPage Title="@(faker.Random.String())"><div data-testId="content"></div></TabPage>
							<TabPage Title="@(faker.Random.String())"></TabPage>
						</TabPanel>);

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("content")));
	}

	[Fact(DisplayName = "[UNIT][TAB-003] - Change Active Page")]
	public async Task TabPanel_ChangeActivePage()
	{
		// Arrange
		var faker = new Faker();
		var cut = Render(@<TabPanel>
							<TabPage Title="@(faker.Random.String())"></TabPage>
							<TabPage Title="@(faker.Random.String())"><div data-testId="content"></div></TabPage>
						</TabPanel>);

		// Act
		await cut.FindAll(Selectors.ByTestId("tbnTab"))[1].ClickAsync(new MouseEventArgs());

		// Assert
		Assert.NotEmpty(cut.FindAll(Selectors.ByTestId("content")));
	}

	[Fact(DisplayName = "[UNIT][TAB-004] - Set Active Tab Class")]
	public async Task TabPanel_SetActiveTabClass()
	{
		// Arrange
		var faker = new Faker();
		var cut = Render(@<TabPanel>
							<TabPage Title="@(faker.Random.String())"></TabPage>
							<TabPage Title="@(faker.Random.String())"><div data-testId="content"></div></TabPage>
						</TabPanel>
	);

		// Act
		await cut.FindAll(Selectors.ByTestId("tbnTab"))[1].ClickAsync(new MouseEventArgs());

		// Assert
		Assert.Contains("tab_panel__page--active", cut.FindAll(Selectors.ByTestId("tbnTab"))[1].ClassList);
	}

	[Fact(DisplayName = "[UNIT][TAB-005] - Raise ActivePageChanged Event")]
	public async Task TabPanel_ActivePageChangedEvent()
	{
		// Arrange
		var faker = new Faker();
		var raised = false;
		var title = faker.Random.String();
		var cut = Render(@<TabPanel OnActivePageChanged="(page) => raised = page.Title.Equals(title)">
							<TabPage Title="@(faker.Random.String())"></TabPage>
							<TabPage Title=@title><div data-testId="content"></div></TabPage>
						</TabPanel>);

		// Act
		await cut.FindAll(Selectors.ByTestId("tbnTab"))[1].ClickAsync(new MouseEventArgs());

		// Assert
		Assert.True(raised);
	}
}
