﻿div.container {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: .8em;
}

div.header {
    display: grid;
    grid-template-columns: max-content auto;
    grid-column-gap: .4em;

    align-content: center;
}
