﻿@namespace Blazter

<div data-testId="cntContainer" class="container box box--@(Type.ToString().ToLower())">
	@if(Title is not null)
	{
		<div data-testId="pnlHeader" class="header">
			<i data-testId="icoIcon" class="box__icon box__icon--@(Type.ToString().ToLower()) fa-solid @(GetIcon())"></i>
			<span data-testId="txtTitle" class="box__title box__title--@(Type.ToString().ToLower())">@Title</span>
		</div>		
	}
	@ChildContent
</div>

@code {
	[Parameter]
	public required BoxType Type { get; set; }
	[Parameter]
	public required string? Title { get; set; }
	[Parameter]
	public required RenderFragment ChildContent { get; set; }

	private string GetIcon()
	{
		switch (Type)
		{
			case BoxType.Information:
				return "fa-circle-info";
			case BoxType.Warning:
				return "fa-circle-exclamation";
			case BoxType.Tip:
				return "fa-circle-check";
			default:
				return string.Empty;
		}
	}
}
