﻿@namespace Blazter

<div class="card container">
	@if (Title is not null)
	{
		<div data-testId="cntHeader" class="header card__header">
			<span data-testId="txtTitle" class="card__title">@Title</span>
			<i data-testId="icoIcon" class="fa @(GetIcon())" @onclick="ChangeStatus"></i>
		</div>
	}
	@if (Title is null || !Collapsed)
	{
		@ChildContent		
	}
</div>

@code {
	[Parameter]
	public string? Title { get; set; }
	[Parameter]
	public required RenderFragment ChildContent { get; set; } = null!;
	[Parameter]
	public required bool Collapsed { get; set; }

	[Parameter]
	public EventCallback OnExpanded { get; set; }
	[Parameter]
	public EventCallback OnCollapsed { get; set; }


	private async Task ChangeStatus()
	{
		Collapsed = !Collapsed;
		if (Collapsed) await OnCollapsed.InvokeAsync();
		else await OnExpanded.InvokeAsync();
	}

	private string GetIcon()
	{
		if (Collapsed) return "fa-chevron-down";
		else return "fa-chevron-up";
	}
}
