﻿div.container {
    display: grid;
    grid-auto-rows: max-content;
    grid-row-gap: 1.2em;
}

div.header {
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: .4em;
}