﻿@namespace Blazter

<CascadingValue Value="this">
	<div class="panel tab_panel">
		<div class="pages tab_panel__pages">
			@foreach (var page in _pages)
			{
				<div data-testId="tbnTab" class="page tab_panel__page @((ActivePage?.Equals(page) ?? false) ? "tab_panel__page--active" : "")" @onclick="async () => await SetActivePageAsync(page)" @attributes="page.AdditionalAttribute">
					<span>@(page.Title)</span>
				</div>
			}
		</div>
	@ChildContent	
	</div>
</CascadingValue>

@code {

	[Parameter]
	public required RenderFragment ChildContent { get; set; }
	[Parameter]
	public TabPage? ActivePage { get; set; }

	[Parameter]
	public EventCallback<TabPage> OnActivePageChanged { get; set; }

	private readonly List<TabPage> _pages = new List<TabPage>();

	public void AddPage(TabPage page)
	{
		_pages.Add(page);
		ActivePage = _pages[0];
		StateHasChanged();
	}

	public async Task SetActivePageAsync(TabPage page)
	{
		if (ActivePage?.Equals(page) ?? true) return;
		ActivePage = page;
		await OnActivePageChanged.InvokeAsync(page);
	}
}
