﻿div.pages {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    width: 100%;
    height: max-content;
}

div.page {
    padding: .8em;

    width: max-content;
    height: max-content;
}

div.panel {
    overflow: hidden;
}
